<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel=canonical href="https://vimeo.com/76979871">
    <title>The New Vimeo Player (You Know, For Videos) from Vimeo Staff on Vimeo</title>
    <style>
        #player,
        .fallback,
        body,
        html,
        iframe {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0
        }
    </style>
    <!--[if IE]><script>var cacheBuster="?"+Math.round(Math.random()*1e3+(new Date).getTime());</script><![endif]-->

    <body role=presentation>
        <div class=vp-placeholder>
            <style>
                .vp-placeholder,
                .vp-placeholder-thumb,
                .vp-placeholder-thumb::after,
                .vp-placeholder-thumb::before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0
                }
                
                .vp-placeholder {
                    visibility: hidden;
                    width: 100%;
                    max-height: 100%;
                    height: calc(720 / 1280 * 100vw);
                    max-width: calc(1280 / 720 * 100vh);
                    margin: auto
                }
                
                .vp-placeholder-carousel {
                    display: none;
                    background-color: #000;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -60px;
                    height: 60px
                }
            </style>
            <div class=vp-placeholder-thumb></div>
            <div class=vp-placeholder-carousel></div>
            <script>
                (function(t) {
                    var n = t.querySelector(".vp-placeholder");
                    var o = t.querySelector(".vp-placeholder-thumb");
                    var v = parseInt("1280");
                    var c = parseInt("720");
                    n.style.visibility = "visible";
                })(document);
            </script>
        </div>
        <div id=player class=player>
            <noscript>
                <object id="flash-object" name="flash-object" type="application/x-shockwave-flash" width="100%" height="100%" data="/moog/76979871">
                    <param name="flashvars" value="clip_id=76979871&amp;api=1&amp;moogaloop_type=moogaloop&amp;noscript">
                    <param name="movie" value="/moog/76979871?noscript">
                    <param name="allowfullscreen" value="true">
                    <param name="allowscriptaccess" value="always">
                    <param name="bgcolor" value="#000000">
                    <param name="wmode" value="opaque">
                    <param name="quality" value="high">
                    <param name="scalemode" value="noscale">
                    <div class="fallback">
                        <iframe src="/video/76979871/fallback?noscript" frameborder="0" title="Player Fallback Message"></iframe>
                    </div>
                </object>
            </noscript>
        </div>
        <script>
            (function(t, e) {
                var a = {
                    "cdn_url": "https://f.vimeocdn.com",
                    "vimeo_api_url": "api.vimeo.com",
                    "request": {
                        "files": {
                            "dash": {
                                "separate_av": true,
                                "streams": [{
                                    "profile": 112,
                                    "quality": "360p",
                                    "id": 449260571,
                                    "fps": 24
                                }, {
                                    "profile": 165,
                                    "quality": "540p",
                                    "id": 468975811,
                                    "fps": 24
                                }, {
                                    "profile": 116,
                                    "quality": "270p",
                                    "id": 449262797,
                                    "fps": 24
                                }, {
                                    "profile": 113,
                                    "quality": "720p",
                                    "id": 449260574,
                                    "fps": 24
                                }],
                                "cdns": {
                                    "akfire_interconnect_quic": {
                                        "url": "https://72skyfiregce-vimeo.akamaized.net/exp=1526683276~acl=%2F76979871%2F%2A~hmac=98efe533e6f124d62af78c9eb6f7cc8c82e1f81e9785c2302da578e3da46bc5f/76979871/sep/video/449260571,468975811,449262797,449260574/master.json?base64_init=1",
                                        "origin": "gcs"
                                    },
                                    "fastly_skyfire": {
                                        "url": "https://skyfire.vimeocdn.com/1526683276-0xf86c4a5c65e1ac79fd13815155d519376f92bae5/76979871/sep/video/449260571,468975811,449262797,449260574/master.json?base64_init=1",
                                        "origin": "gcs"
                                    }
                                },
                                "default_cdn": "akfire_interconnect_quic"
                            },
                            "hls": {
                                "separate_av": false,
                                "default_cdn": "akfire_interconnect_quic",
                                "cdns": {
                                    "akfire_interconnect_quic": {
                                        "url": "https://72skyfiregce-vimeo.akamaized.net/exp=1526683276~acl=%2F76979871%2F%2A~hmac=98efe533e6f124d62af78c9eb6f7cc8c82e1f81e9785c2302da578e3da46bc5f/76979871/video/449260571,468975811,449262797,449260574/subtitles/170-Deutsch-de,171-Espa%C3%B1ol-es,140662-English-en-cc,4678937-Fran%C3%A7ais-fr/master.m3u8?external-subs=1",
                                        "origin": "gcs",
                                        "captions": "https://72skyfiregce-vimeo.akamaized.net/exp=1526683276~acl=%2F76979871%2F%2A~hmac=98efe533e6f124d62af78c9eb6f7cc8c82e1f81e9785c2302da578e3da46bc5f/76979871/video/449260571,468975811,449262797,449260574/subtitles/170-Deutsch-de,171-Espa%C3%B1ol-es,140662-English-en-cc,4678937-Fran%C3%A7ais-fr/master.m3u8"
                                    },
                                    "fastly_skyfire": {
                                        "url": "https://skyfire.vimeocdn.com/1526683276-0xf86c4a5c65e1ac79fd13815155d519376f92bae5/76979871/video/449260571,468975811,449262797,449260574/subtitles/170-Deutsch-de,171-Espa%C3%B1ol-es,140662-English-en-cc,4678937-Fran%C3%A7ais-fr/master.m3u8?external-subs=1",
                                        "origin": "gcs",
                                        "captions": "https://skyfire.vimeocdn.com/1526683276-0xf86c4a5c65e1ac79fd13815155d519376f92bae5/76979871/video/449260571,468975811,449262797,449260574/subtitles/170-Deutsch-de,171-Espa%C3%B1ol-es,140662-English-en-cc,4678937-Fran%C3%A7ais-fr/master.m3u8"
                                    }
                                },
                                "captions": "https://72skyfiregce-vimeo.akamaized.net/exp=1526683276~acl=%2F76979871%2F%2A~hmac=98efe533e6f124d62af78c9eb6f7cc8c82e1f81e9785c2302da578e3da46bc5f/76979871/video/449260571,468975811,449262797,449260574/subtitles/170-Deutsch-de,171-Espa%C3%B1ol-es,140662-English-en-cc,4678937-Fran%C3%A7ais-fr/master.m3u8"
                            },
                            "progressive": [{
                                "profile": 165,
                                "width": 960,
                                "mime": "video/mp4",
                                "fps": 24,
                                "url": "https://gcs-vimeo.akamaized.net/exp=1526683276~acl=%2A%2F468975811.mp4%2A~hmac=2945ef304d4fb079baec61e10eafbfc3249d0f78d5f2177c9621d12c23871220/vimeo-prod-skyfire-std-us/01/395/3/76979871/468975811.mp4",
                                "cdn": "akamai_interconnect",
                                "quality": "540p",
                                "id": 468975811,
                                "origin": "gcs",
                                "height": 540
                            }, {
                                "profile": 116,
                                "width": 480,
                                "mime": "video/mp4",
                                "fps": 24,
                                "url": "https://gcs-vimeo.akamaized.net/exp=1526683276~acl=%2A%2F449262797.mp4%2A~hmac=659f5a58c71ab4d67f6f253a727570fc5f60791ca63259a4beb5589a8cb6ffdb/vimeo-prod-skyfire-std-us/01/395/3/76979871/449262797.mp4",
                                "cdn": "akamai_interconnect",
                                "quality": "270p",
                                "id": 449262797,
                                "origin": "gcs",
                                "height": 270
                            }, {
                                "profile": 113,
                                "width": 1280,
                                "mime": "video/mp4",
                                "fps": 24,
                                "url": "https://gcs-vimeo.akamaized.net/exp=1526683276~acl=%2A%2F449260574.mp4%2A~hmac=7fa0b6ffa906787a38019f5647274a18291390d82f50f3e74f2fe76a0dc69ce9/vimeo-prod-skyfire-std-us/01/395/3/76979871/449260574.mp4",
                                "cdn": "akamai_interconnect",
                                "quality": "720p",
                                "id": 449260574,
                                "origin": "gcs",
                                "height": 720
                            }, {
                                "profile": 112,
                                "width": 640,
                                "mime": "video/mp4",
                                "fps": 24,
                                "url": "https://gcs-vimeo.akamaized.net/exp=1526683276~acl=%2A%2F449260571.mp4%2A~hmac=abc7a4d19df473970b57f2b1f4fff8e3f16544ab09d27a5fb9c26e3b2502aa49/vimeo-prod-skyfire-std-us/01/395/3/76979871/449260571.mp4",
                                "cdn": "akamai_interconnect",
                                "quality": "360p",
                                "id": 449260571,
                                "origin": "gcs",
                                "height": 360
                            }]
                        },
                        "lang": "en",
                        "sentry": {
                            "url": "https://9e9ab33f1870463393a4a1e85a1280c2@sentry.cloud.vimeo.com/2",
                            "enabled": false,
                            "debug_enabled": true,
                            "debug_intent": 0
                        },
                        "ab_tests": {},
                        "referrer": null,
                        "cookie_domain": ".vimeo.com",
                        "timestamp": 1526679376,
                        "gc_debug": {
                            "bucket": "vimeo-player-debug"
                        },
                        "expires": 3600,
                        "text_tracks": [{
                            "lang": "de",
                            "url": "/texttrack/170.vtt?token=5aff5560_0x5f61101a43aee5880b4e29c79caa3a59a3085d24",
                            "kind": "subtitles",
                            "id": 170,
                            "label": "Deutsch"
                        }, {
                            "lang": "en",
                            "url": "/texttrack/140662.vtt?token=5aff5560_0x674482ce7277be55f3847c1c96e774b9cd342354",
                            "kind": "captions",
                            "id": 140662,
                            "label": "English"
                        }, {
                            "lang": "es",
                            "url": "/texttrack/171.vtt?token=5aff5560_0xaa65af0a0bf09e12fbd029ffaf916d1d923a78b1",
                            "kind": "subtitles",
                            "id": 171,
                            "label": "Espa\u00f1ol"
                        }, {
                            "lang": "fr",
                            "url": "/texttrack/4678937.vtt?token=5aff5560_0x090cf6fe17c676c27374186b4d14fd5fdfca0cb9",
                            "kind": "subtitles",
                            "id": 4678937,
                            "label": "Fran\u00e7ais"
                        }],
                        "currency": "USD",
                        "session": "6a1169ffae8618cca6c6f508eae1d5861c7bc8721526679376",
                        "cookie": {
                            "scaling": 1,
                            "volume": 1.0,
                            "quality": null,
                            "hd": 0,
                            "captions": null
                        },
                        "build": {
                            "player": "",
                            "js": "2.71.41"
                        },
                        "urls": {
                            "zeroclip_swf": "https://f.vimeocdn.com/p/external/zeroclipboard/ZeroClipboard.swf",
                            "fresnel": "https://fresnel.vimeocdn.com/add/player-stats",
                            "js": "https://f.vimeocdn.com/p/2.71.41/js/player.js",
                            "proxy": "https://player.vimeo.com/static/proxy.html",
                            "chromeless_css": "https://f.vimeocdn.com/p/2.71.41/css/chromeless.css",
                            "flideo": "https://f.vimeocdn.com/p/flash/flideo/1.0.6/flideo.swf",
                            "moog": "https://f.vimeocdn.com/p/flash/moogaloop/6.4.5/moogaloop.swf?clip_id=76979871",
                            "three_js": "https://f.vimeocdn.com/p/external/three.rvimeo.min.js",
                            "mux_url": "https://f.vimeocdn.com/p/external/mux.js",
                            "vuid_js": "https://f.vimeocdn.com/js_opt/modules/utils/vuid.min.js",
                            "chromeless_js": "https://f.vimeocdn.com/p/2.71.41/js/chromeless.js",
                            "moog_js": "https://f.vimeocdn.com/p/2.71.41/js/moogaloop.js",
                            "zeroclip_js": "https://f.vimeocdn.com/p/external/zeroclipboard/ZeroClipboard-patch.js",
                            "css": "https://f.vimeocdn.com/p/2.71.41/css/player.css"
                        },
                        "signature": "55da3043454eddffc20db8f7496fec5c",
                        "flags": {
                            "dnt": 0,
                            "preload_video": "metadata_on_hover",
                            "plays": 1,
                            "webp": 0,
                            "flash_hls": 1,
                            "log_to_es": 0,
                            "partials": 1,
                            "autohide_controls": 0
                        },
                        "country": "NG"
                    },
                    "player_url": "player.vimeo.com",
                    "video": {
                        "rating": {
                            "id": 6
                        },
                        "version": {
                            "current": null,
                            "available": []
                        },
                        "height": 720,
                        "duration": 62,
                        "thumbs": {
                            "1280": "https://i.vimeocdn.com/video/452001751_1280.jpg",
                            "960": "https://i.vimeocdn.com/video/452001751_960.jpg",
                            "640": "https://i.vimeocdn.com/video/452001751_640.jpg",
                            "base": "https://i.vimeocdn.com/video/452001751"
                        },
                        "owner": {
                            "account_type": "live_business",
                            "name": "Vimeo Staff",
                            "img": "https://i.vimeocdn.com/portrait/9934446_60x60.jpg",
                            "url": "https://vimeo.com/staff",
                            "img_2x": "https://i.vimeocdn.com/portrait/9934446_120x120.jpg",
                            "id": 152184
                        },
                        "file_codecs": {
                            "hevc": {
                                "hdr": [],
                                "sdr": []
                            },
                            "avc": [468975811, 449262797, 449260574, 449260571]
                        },
                        "id": 76979871,
                        "embed_code": "<iframe src=\"https://player.vimeo.com/video/76979871\" width=\"640\" height=\"360\" frameborder=\"0\" allowfullscreen><\/iframe>",
                        "title": "The New Vimeo Player (You Know, For Videos)",
                        "share_url": "https://vimeo.com/76979871",
                        "width": 1280,
                        "embed_permission": "public",
                        "fps": 24.0,
                        "spatial": 0,
                        "live_event": null,
                        "allow_hd": 1,
                        "hd": 1,
                        "lang": "en",
                        "default_to_hd": 0,
                        "url": "https://vimeo.com/76979871",
                        "privacy": "anybody",
                        "unlisted_hash": null
                    },
                    "user": {
                        "vimeo_api_interaction_tokens": null,
                        "liked": 0,
                        "account_type": "none",
                        "vimeo_api_client_token": null,
                        "progress": 0,
                        "owner": 0,
                        "watch_later": 0,
                        "logged_in": 0,
                        "id": 0,
                        "mod": 0
                    },
                    "embed": {
                        "autopause": 1,
                        "playsinline": 1,
                        "settings": {
                            "color": 0,
                            "branding": 0,
                            "share": 0,
                            "logo": 0,
                            "portrait": 0,
                            "speed": 0,
                            "fullscreen": 0,
                            "byline": 0,
                            "title": 0,
                            "collections": 0,
                            "info_on_pause": 0,
                            "badge": 0,
                            "scaling": 1,
                            "background": 1,
                            "spatial_label": 1,
                            "volume": 0,
                            "like": 0,
                            "playbar": 0,
                            "spatial_compass": 1,
                            "watch_later": 0,
                            "embed": 0
                        },
                        "color": "00adef",
                        "on_site": 0,
                        "app_id": "",
                        "muted": 1,
                        "dnt": 0,
                        "player_id": "",
                        "api": 3,
                        "editor": false,
                        "context": "embed.main",
                        "time": 0,
                        "outro": "share",
                        "log_plays": 1,
                        "quality": null,
                        "transparent": 1,
                        "loop": 1,
                        "autoplay": 1
                    },
                    "view": 1,
                    "vimeo_url": "vimeo.com"
                };
                if (!a.request) {
                    return
                }
                if (typeof a.request === "object" && "error" in a.request) {
                    if ("html" in a.request) {
                        t.documentElement.innerHTML = a.request.html.replace(/&lt;/g, "<").replace(/&gt;/g, ">")
                    }
                    return
                }
                var r = function() {
                    try {
                        return window.self !== window.top
                    } catch (e) {
                        return true
                    }
                }();
                if (!r && /twitter/i.test(navigator.userAgent) && a.video.url) {
                    window.location = a.video.url
                }
                if (a.request.lang) {
                    t.documentElement.setAttribute("lang", a.request.lang)
                }
                var n = "exitFullscreen" in t || "webkitExitFullscreen" in t || "webkitCancelFullScreen" in t || "mozCancelFullScreen" in t || "msExitFullscreen" in t || "webkitEnterFullScreen" in t.createElement("video");
                var i = function() {
                    var e = navigator;
                    var t = "Shockwave Flash";
                    var a = "application/x-shockwave-flash";
                    var r = "ShockwaveFlash.ShockwaveFlash";
                    if (typeof e.plugins !== "undefined" && typeof e.plugins[t] === "object") {
                        if (e.plugins[t].description && !(typeof e.mimeTypes !== "undefined" && e.mimeTypes[a] && !e.mimeTypes[a].enabledPlugin)) {
                            return true
                        }
                    }
                    try {
                        if (window.ActiveXObject && new ActiveXObject(r)) {
                            return true
                        }
                    } catch (e) {}
                    return false
                }();
                var o = function() {
                    var e = t.createElement("video");
                    return {
                        h264: "canPlayType" in e && e.canPlayType("video/mp4") !== "",
                        textTracks: typeof TextTrackList !== "undefined" && typeof e.textTracks !== "undefined" && e.textTracks instanceof TextTrackList
                    }
                }();
                var s = function() {
                    var e = t.createElement("div");
                    e.innerHTML = "<svg/>";
                    return (e.firstChild && e.firstChild.namespaceURI) === "http://www.w3.org/2000/svg"
                }();
                var l = /MSIE 9/.test(navigator.userAgent) && /Windows Phone/.test(navigator.userAgent);
                var c = /IE 10/.test(navigator.userAgent);
                var u = n || c || l;
                var d = t.getElementsByTagName("script")[0];
                var f = t.createElement("script");
                var m = false;
                var p = false;
                if ("text_tracks" in a.request && (!o.textTracks || o.textTracks && !o.h264) && i) {
                    u = false
                }
                if (!s) {
                    u = false
                }
                var v = "vod" in a.video && a.video.vod.is_feature;
                if (v && i && ("files" in a.request && !a.request.files.dash)) {
                    u = false
                }
                if (!u) {
                    var g = t.querySelector(".vp-placeholder");
                    if (g && g.parentNode) {
                        g.parentNode.removeChild(g)
                    }
                }
                if (u) {
                    e.className = "player loading";
                    var h = (new Date).getTime();
                    f.src = a.request.urls.js;
                    d.parentNode.insertBefore(f, d);
                    f["onreadystatechange" in f ? "onreadystatechange" : "onload"] = function() {
                        if (!m && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) {
                            m = true;
                            p = new VimeoPlayer(e, a, y || {
                                link: w,
                                startTime: h
                            })
                        }
                    };
                    var y = false;
                    var w = t.createElement("link");
                    w.rel = "stylesheet";
                    w.href = a.request.urls.css + (typeof cacheBuster === "undefined" ? "" : cacheBuster);
                    t.getElementsByTagName("head")[0].appendChild(w);
                    w.onload = function() {
                        y = true
                    }
                } else if (i) {
                    e.innerHTML = '<object id="flash-object" name="flash-object" type="application/x-shockwave-flash" width="100%" height="100%" data="' + a.request.urls.moog + "&z=" + (new Date).getTime() + '"><param name="flashvars" value="clip_id=' + a.video.id + "&amp;embed_location=" + encodeURIComponent(a.request.referrer) + '&amp;js_getConfig=getConfig&amp;js_setConfig=setConfig&amp;js_onLoad=onMoogaloopLoaded&amp;api=1&amp;moogaloop_type=moogaloop"><param name="movie" value="' + a.request.urls.moog + "&z=" + (new Date).getTime() + '"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="bgcolor" value="#000000"><param name="wmode" value="opaque"><param name="quality" value="high"><param name="scalemode" value="noscale"></object>';
                    var T = false;
                    var q = t.getElementById("flash-object");
                    window.onMoogaloopLoaded = function() {
                        T = true;
                        if (!p && m) {
                            e.className = "player";
                            p = new VimeoPlayer(q, a)
                        }
                    };
                    window.getConfig = function() {
                        return a
                    };
                    window.setConfig = function(e) {
                        a = e
                    };
                    f.src = a.request.urls.moog_js;
                    d.parentNode.insertBefore(f, d);
                    f["onreadystatechange" in f ? "onreadystatechange" : "onload"] = function() {
                        if (!m && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) {
                            m = true;
                            if (!p && T) {
                                p = new VimeoPlayer(q, a)
                            }
                        }
                    }
                } else {
                    e.innerHTML = '<div class="fallback"><iframe src="/video/76979871/fallback?js&amp;referrer=' + encodeURIComponent(a.request.referrer) + '" frameborder="0"></iframe></div>'
                }
                if (!a.request.flags.dnt && !a.embed.dnt) {
                    window._vuid = [
                        ["pid", a.request.session]
                    ];
                    var b = t.createElement("script");
                    b.async = true;
                    b.src = a.request.urls.vuid_js;
                    d.parentNode.insertBefore(b, d)
                }
            })(document, document.getElementById("player"));
        </script>